BOT_TOKEN=
BOT_USERNAME=
MTGATE_API_URL=http://localhost:8889
MTGATE_API_TOKEN=
ROBOKASSA_LOGIN=
ROBOKASSA_PASS1=
ROBOKASSA_PASS2=
ROBOKASSA_TEST_MODE=true
SERVER_HOST=72.56.112.182
DB_PATH=./data/subscriptions.db
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
PAYMENT_PROVIDER=yookassa
